body {
    display: flex;
    flex-direction: column;
    margin: 0 0;
    height: 100vh;
    font-family: 'Risque', Times, serif;
    font-weight: 800;
    font-size: 8vw;
    color: whitesmoke;
    background-color: lightgray;
}

.header {
    flex-grow: 0.5;
    max-height: 600px;
    background-color: #000080;
    text-align: center;
    align-content: center;
    padding: 20px;
    border-bottom: outset black 4px;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 50px;
    padding: 25px;
}

button {
    padding: 10px 20px;
    font-size: 3vw;
    font-family: 'Risque', Times, serif;
    font-weight: 600;
    background-color: #000080;
    color: whitesmoke;
    border-radius: 15px;
    border: outset black 2px;
    transition: transform 0.2s ease-in-out;
}

button:hover {
    background-color: #4949b8;
    transform: rotate(-10deg) scale(1.1);
}

.game {
    display: grid;
    grid-template-rows: repeat(3, 15vw);
    grid-template-columns: repeat(3, 15vw);
    border: solid black 2px;
}

.game > div {
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
    font-weight: bold;
    color: #000080;
}

.turn {
    font-family: 'Risque', Times, serif;
    font-weight: 400;
    font-size: 4vw;
    color: #000080;
    margin: 15px;
}

.game > div:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
